repos:
  - repo: local
    hooks:
      - id: terraform-fmt
        name: terraform-fmt
        language: docker_image
        entry: hashicorp/terraform:1.11
        args: ["fmt", "-write=true", "-recursive"]
        pass_filenames: false
      - id: terraform-docs
        name: terraform-docs-cloudflare
        language: docker_image
        entry: quay.io/terraform-docs/terraform-docs:0.19.0  # or, change latest to pin to a specific version
        args: ["cloudflare/"]
        pass_filenames: false
      - id: terraform-docs
        name: terraform-docs-discord
        language: docker_image
        entry: quay.io/terraform-docs/terraform-docs:0.19.0  # or, change latest to pin to a specific version
        args: ["discord/"]
        pass_filenames: false
      - id: terraform-docs
        name: terraform-docs-github
        language: docker_image
        entry: quay.io/terraform-docs/terraform-docs:0.19.0  # or, change latest to pin to a specific version
        args: ["github/"]
        pass_filenames: false
      - id: terraform-docs
        name: terraform-docs-kubernetes
        language: docker_image
        entry: quay.io/terraform-docs/terraform-docs:0.19.0  # or, change latest to pin to a specific version
        args: ["kubernetes/"]
        pass_filenames: false
      - id: terraform-docs
        name: terraform-docs-oci
        language: docker_image
        entry: quay.io/terraform-docs/terraform-docs:0.19.0  # or, change latest to pin to a specific version
        args: ["oci/"]
        pass_filenames: false