repos:
  - repo: local
    hooks:
      - id: terraform-fmt
        name: terraform-fmt
        language: script
        entry: .pre-commit-scripts/terraform-fmt.sh
        pass_filenames: false
      - id: terraform-docs-check-cloudflare
        name: terraform-docs-check-cloudflare
        language: script
        entry: .pre-commit-scripts/check-terraform-docs.sh
        args: ["cloudflare"]
        pass_filenames: false
      - id: terraform-docs-check-github
        name: terraform-docs-check-github
        language: script
        entry: .pre-commit-scripts/check-terraform-docs.sh
        args: ["github"]
        pass_filenames: false
      - id: terraform-docs-check-oci
        name: terraform-docs-check-oci
        language: script
        entry: .pre-commit-scripts/check-terraform-docs.sh
        args: ["oci"]
        pass_filenames: false
      - id: terraform-docs-check-discord
        name: terraform-docs-check-discord
        language: script
        entry: .pre-commit-scripts/check-terraform-docs.sh
        args: ["discord"]
        pass_filenames: false
      - id: terraform-docs-check-kubernetes
        name: terraform-docs-check-kubernetes
        language: script
        entry: .pre-commit-scripts/check-terraform-docs.sh
        args: ["kubernetes"]
        pass_filenames: false