name: CI

on:
  pull_request:

jobs:
  terraform:
    name: "Terraform Fmt"
    runs-on: ubuntu-24.04
    permissions:
      contents: read
      pull-requests: read
    steps:
      # Checkout the repository to the GitHub Actions runner
      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744
      - name: Setup Terraform
        uses: hashicorp/setup-terraform@633666f66e0061ca3b725c73b2ec20cd13a8fdd1
      - name: Terraform Format
        id: fmt
        run: terraform  fmt -check -recursive
      # Run a terraform validate
      - name: Terraform Validate
        id: validate
        # Run even if formatting fails
        if: success() || failure()
        run: terraform validate -no-color
